<!-- HOME -->
<section id="home" class="full-height px-lg-5" style="background-color: rgba(0, 0, 0, 0.5);">

    <div class="container" >
        <video autoplay loop muted plays-inline class="background-clip"> 
            <source src="../../assets/video/matrix1.mp4" type="video/mp4">
        </video>
        <div class="row">
            <div class="col-lg-10">
                <div class="typewriter">
                    <h1 class="display-4 fw-bold" data-aos="fade-up">HI I'M <span class="text-brand">JOTSA 
                </span></h1>
                </div>
                
                <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">I am Jotsa Nguetsop Mikael, An Information system engineer
                    high-performing and passionate tech enthousiast.</p>
                <div data-aos="fade-up" data-aos-delay="600">
                    <a routerLink="/contact" class="btn btn-brand me-3">Contact</a>
                    <a href="#" class="link-custom"><i class="lab la-whatsapp"></i> - <i class="la la-phone"></i> (+237) 6979 42923</a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- //HOME -->

<!-- FOOTER 
<footer class="py-5 px-lg-5">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-auto">
                <p class="mb-0">Designed by <a href="#" class="fw-bold">JOTSA MIKAEL</a></p>
            </div>
            <div class="col-auto">
                <div class="social-icons">
                    <a href="#"><i class="lab la-linkedin"></i></a>
                    <a href="#"><i class="lab la-twitter"></i></a>
                    <a href="#"><i class="lab la-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
//FOOTER -->