<!-- ABOUT -->
<section id="about" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">ABOUT</h6>
                <h1>MySelf, My Education & Experience</h1>
            </div>
        </div>
        <div class="mb-5">
            <span style="font-weight: 800;">About me</span>
            <p>Jotsa Nguetsop Mikael born October 1st 1998 is a computer, video game, anime and pop culture "nerd".
                Sounds cliché?.. Well
                He is also deeply into philosophy and ideological questioning always trying to understand the origin and
                purpose of all cultural and societal norms.Thought sometimes annoying,
                this tend to make him standout and have an interesting view on various topics. He can be seen
                programming stuff on his computer while listening to rock music</p>
        </div>

        <div class="row gy-5">
            <div class="col-lg-6">

                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experience</h3>
                <div class="row gy-4">

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <img src="../../assets/img/certifications/cv.jpg" alt="cv" srcset="">

                            <h4>My Curriculum Vitae as of {{date}}</h4>
                            <p class="text-brand mb-2">Currently working for <b>ADSNET</b></p>
                            <p class="mb-0"></p>
                        </div>
                    </div>



                </div>

            </div>
            <div class="col-lg-6">

                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Certifications</h3>
                <div class="row gy-4">

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <img src="../../assets/img/certifications/iso.jpg" alt="" srcset="">
                            <h4>ISO 27001 LEAD AUDITOR</h4>
                            <p class="text-brand mb-2">2022</p>
                            <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur
                                adipisicing elit</p>
                        </div>
                    </div>



                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <img src="../../assets/img/certifications/oci.jpg" alt="" srcset="">
                            <h4>Oracle cloud infrastructure foundational</h4>
                            <p class="text-brand mb-2">2022</p>
                            <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur
                                adipisicing elit</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-6">

                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                <div class="row gy-4">

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <img src="../../assets/img/certifications/utt.png" alt="" srcset="">

                            <h4>Information System Engineering</h4>
                            <p class="text-brand mb-2">Université Saint Jean (2017-2022)</p>
                            <p class="mb-0">Diplomat obtained with maximum number of credits scored (180) and an OWA of
                                3.00/4</p>
                        </div>
                    </div>

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>G.C.E Advanced Level</h4>
                            <p class="text-brand mb-2">Saint Benedict Catholic Bilingual Colledge(2015 - 2017)</p>
                            <p class="mb-0">G.C.E Advanced Level passed with 5 papers including further maths</p>
                        </div>
                    </div>

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>G.C.E Ordinary level</h4>
                            <p class="text-brand mb-2">Saint Benedict Catholic Bilingual Colledge(2010 - 2015)</p>
                            <p class="mb-0">G.C.E Ordinary Level passed with 11 papers including 9 As in core subjects
                                like maths, physics, chemistry, computer science, economics etc</p>
                        </div>
                    </div>

                </div>

            </div>



        </div>

    </div>
</section>
<!-- //ABOUT -->