<!-- CONTACT -->
<section id="contact" class="full-height px-lg-5 mt-5">
    <div class="container">

        <div class="row justify-content-center text-center">
            <div class="col-lg-8 pb-4" data-aos="fade-up">
                <h6 class="text-brand">CONTACT</h6>
                <h1>Interested in working together? Let's talk
                </h1>
                <a href="https://wa.me/697942923" target="_blank" rel="noopener noreferrer"><i
                        class="lab la-whatsapp"></i></a>&nbsp;
                <a href="https://www.linkedin.com/in/jotsa-mikael-2a2163188" target="_blank"
                    rel="noopener noreferrer"><i class="lab la-linkedin"></i></a>&nbsp;
                <a href="https://github.com/jotsamikael" target="_blank" rel="noopener noreferrer"><i
                        class="lab la-github"></i></a>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                <form (submit)="sendEmail()" [formGroup]="form" class="row g-lg-3 gy-3">

                    <div class="form-group col-md-6">
                        <input name="name" formControlName="name" type="text" class="form-control"
                            placeholder="Enter your name" name="name" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input name="email" formControlName="email" type="email" class="form-control"
                            placeholder="Enter your email" id="email" required>
                    </div>
                    <div class="form-group col-12">
                        <input name="subject" formControlName="subject" type="text" class="form-control"
                            placeholder="Enter subject" id="subject" required>
                    </div>
                    <div class="form-group col-12">
                        <textarea name="message" formControlName="message" rows="4" class="form-control"
                            placeholder="Enter your message" id="message"></textarea>
                    </div>
                    <div class="form-group col-12 d-grid">
                        <button type="submit" class="btn btn-brand">Contact me</button>
                    </div>
                    <div class="row justify-content-center mt-2" *ngIf="processing==true">
                        <div class="spinner-border text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</section>
<!-- //CONTACT -->


<!-- FOOTER -->
<footer class="py-5 px-lg-5">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-auto">
                <p class="mb-0">Designed by <a href="#" class="fw-bold">JOTSA MIKAEL | {{date}} All rights reserved</a>
                </p>
            </div>
            <div class="col-auto">
                <div class="social-icons">
                    <a href="https://wa.me/697942923" target="_blank" rel="noopener noreferrer"><i
                            class="lab la-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/in/jotsa-mikael-2a2163188" target="_blank"
                        rel="noopener noreferrer"><i class="lab la-linkedin"></i></a>
                    <a href="https://github.com/jotsamikael" target="_blank" rel="noopener noreferrer"><i
                            class="lab la-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //FOOTER -->