<!-- SERVICES -->
<section id="services" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">SERVICES</h6>
                <h1>Services That I Provide</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div (click)="goto('fullstack')" class="col-md-4" data-aos="fade-up">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-laptop-code"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Fullstack developement</h5>
                    <p>I craft high-performing and user focused web and desktop applications with a particular attention
                        to user experience</p>
                    <a routerLink="fullstack" class="link-custom">See portfolio</a>
                </div>
            </div>

            <div (click)="goto('wordpress')" class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="lab la-wordpress"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Wordpress websites</h5>
                    <p>I design fast and optimized wordpress websites be it for e-commerce, digital agencies, e-learning
                        etc</p>
                    <a routerLink="/wordpress" class="link-custom">See portfolio</a>
                </div>
            </div>

            <div (click)="goto('data-visualization')" class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="lab la-wordpress"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Data visualization</h5>
                    <p>I design fast and optimized wordpress websites be it for e-commerce, digital agencies, e-learning
                        etc</p>
                    <a routerLink="data-visualization" class="link-custom">See portfolio</a>
                </div>
            </div>

            <div (click)="goto('design')" class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-brush"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Branding & Design</h5>
                    <p>I design logos and other branding items like packaging together with infographic printables aimed
                        at
                        converting prospects be it </p>
                    <a routerLink="/design" class="link-custom">See portfolio</a>
                </div>
            </div>

            <div (click)="goto('whatsapp')" class="col-md-4" data-aos="fade-up">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-robot"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Whatsapp bot developement</h5>
                    <p>I leverage the power of whatsapp through bots in order to automate some common business
                        activities like answering customer request</p>
                    <a routerLink="/whatsapp" class="link-custom">See portfolio</a>
                </div>
            </div>

            <div (click)="goto('video')" class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-video"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Video edition</h5>
                    <p>I edit videos in order to increase my visibility and that of my clients, be it animated videos or
                        gif based videos</p>
                    <a routerLink="/video" class="link-custom">See portfolio</a>
                </div>
            </div>
        </div>

        <div class="row gy-4 mt-5">
        </div>
    </div>
</section>
<!-- SERVICES -->