<!-- WORK -->
<section id="work" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">WORK</h6>
                <h1>My Recent Projects | Design</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-6" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="../../assets/img/portfolio-design/nafburger.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Nafburger branding</h4>
                        <p>Nafburger is a local fastfood in my area, they requested my services for thier logo and other
                            branding items</p>
                        <a routerLink="/contact" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img width="150px" class="rounded-4" src="../../assets/img/portfolio-design/adsnet.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Labour day ADSNET</h4>
                        <p>Just a small flyer to wish good labour day to fellow workers</p>
                        <a routerLink="/contact" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="../../assets/img/portfolio-design/formation_wordpress.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>My wordpress course DVD cover</h4>
                        <p>This is the cover for my wordpress course DVD that i will be launching soon</p>
                        <a routerLink="/contact" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="../../assets/img/portfolio-design/new_banner_isj.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Graduation banner</h4>
                        <p>I was tasked with designing our school graduation banner showing the various graduates where
                            each one can sign under his/her name</p>
                        <a routerLink="/contact" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row gy-4 mt-4">

            <div class="col-md-6" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="../../assets/img/portfolio-design/nafBurgeur-menu.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Startup Landing Page</h4>
                        <p>Innovation that exceeds expectations. Astra is a true template equiqed with all the elements
                            you could ever need to put together</p>
                        <a routerLink="/contact" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img width="150px" class="rounded-4" src="../../assets/img/portfolio-design/nafburger-party.png"
                            alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Startup Landing Page</h4>
                        <p>Innovation that exceeds expectations. Astra is a true template equiqed with all the elements
                            you could ever need to put together</p>
                        <a routerLink="/contact" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- //WORK -->