<!-- WORK -->
<section id="work" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">WORK</h6>
                <h1>My Recent Projects | Fullstack Projects</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-6" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/m4jN9xzT-uM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>SelfPay</h4>
                        <h6>Tech Stack: Java, Java fx, Scene builder, SQLite</h6>
                        <p>Selfpay: A desktop app for self service kiosk, accepts cash and provide services like airtime
                            payment, bill payment,
                            mobile money etc etc...</p>

                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">

                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Auxillium</h4>
                        <h6>Tech Stack: Java, Springboot, Mysql, Angular, Angular material, Bootstrap</h6>

                        <p>Tutor recrutement plateform, with exams management</p>

                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
<!-- //WORK -->